doctype html
html
    head
        title PageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href='style/foundation.css?2')
        link(rel="stylesheet" href='style/style.css?19')
       
    body

        .na-main
            header(class=`n-header na-header`)

                svg.n-header__logo.adaptive-hidden
                    use(xlink:href="images/sprite.svg#logo-grey")
                svg.n-header__logo.desktop-hidden
                    use(xlink:href="images/sprite.svg#logo-grey")

                nav.n-header__nav.n-header__nav--grey2.adaptive-hidden
                    a(href="").n-header__nav-link Платформа
                    a(href="").n-header__nav-link Решения
                    a(href="").n-header__nav-link Почему мы
                    a(href="").n-header__nav-link Компания
                    a(href="").n-header__nav-link Ресурсы

                a(href="").icon-link.icon-link--grey.n-header__tel.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#phone")

                a(href="").icon-link.icon-link--grey.n-header__profile.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#human")

                a(href="").icon-link.icon-link--grey.n-header__ytube.desktop-hidden.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#youtube-circle")

                a(href="").n-header__btn.adaptive-hidden.n-form-show
                    svg
                        use(xlink:href="images/sprite.svg#youtube-circle")
                    span Демо

                .n-header__hamburger
                    a(href="").icon-link.icon-link--grey.n-header__icon
                        svg.n-slides-link__arrow
                            use(xlink:href="images/sprite.svg#hamburger")

        section.na-section-1
            .na-main
                .na-section-1__content
                    .na-section-1__nav 
                        span ГЛАВНАЯ
                        svg.na-section-1__nav-arrow
                            use(xlink:href="images/sprite.svg#arror-right")
                        span о компании
                    
                    .na-section-1__logo.na-about-logo  
                        .na-about-logo__bg
                        .na-about-logo__text
                            span О компании

        section.na-section-2
            .na-main
                .na-section-2__content
                    .na-otziv
                        .na-otziv__text
                            svg.na-otziv__otziv-bg
                                use(xlink:href="images/sprite.svg#otziv")
                            .na-otziv__title 
                                span Digital Contact помогает компаниям из разных сфер бизнеса решать сложные задачи: привлекать и удерживать правильных клиентов. 
                            .na-otziv__u-text
                                span Наши продукты - решения маркетологов для маркетологов. Мы знаем с чем сталкиваются наши коллеги и готовы ответить на вопросы о возврате инвестиций и рентабельности маркетинговых усилий.
                            .na-otziv__u-text
                                span Наша команда разработчиков, дата сайентистов и дата инженеров создала уникальный набор инструментов для персонализированных коммуникаций один-на-один с клиентом и оптимизации клиентского опыта, путешествия клиента с помощью машинного обучения. 
                            .na-otziv__u-text
                                span Наши инструменты, технологии и методики постоянно развиваются и совершенствуются, мы уделяем много времени и энергии исследованиям, но наша главная цель неизменна - помогать нашим коллегам-маркетологам достигать результатов. 

                        .na-otziv__user
                            .na-otziv__img
                                .na-otziv__img-bg-top
                                .na-otziv__img-bg-bottom
                                .na-otziv__img-inner
                                    img(src="/images/about/director.png", alt="")
                            .na-otziv__user-desc
                                .na-otziv__user-name 
                                    span Ольга Кутейникова, 
                                .na-otziv__user-job 
                                    span исполнительный директор
                                    br
                                    span Digital Contact 

        section.na-section-3
            .na-main
                .na-section-3__content
                    .na-section-3__red-line
                    .na-section-3__title 
                        span Развиваемся 
                        br
                        span вместе с рынком

                    .na-history
                        div
                            .na-history__img.na-history__img--1
                                img(src="/images/about/time-1.png", alt="")
                            .na-history__date.na-history__date--1
                                span 2006
                            .na-history__title
                                span рынок ESP
                            .na-history__text 
                                span На смену самописным решениям пришли сервисы с доступной абонентской платой. Email-маркетинг стал доступным, но зависимым от компетенций маркетологов. Digital Contact запустил сервис для email-маркетинга и управления доставляемостью. 
                        div
                            .na-history__img.na-history__img--2
                                img(src="/images/about/time-2.png", alt="")
                            .na-history__date.na-history__date--2
                                span 2015
                            .na-history__title
                                span большие данные 
                            .na-history__text 
                                span Используют крупные компании и улучшают результаты коммуникаций с клиентами, но для малого и среднего бизнеса это еще дорого, нужна армия специалистов высокой квалификации. Digital Contact разрабатывает платформу автоматизации маркетинга.
                        div
                            .na-history__img.na-history__img--3
                                img(src="/images/about/time-3.png", alt="")
                            .na-history__date.na-history__date--3  
                                span 2016
                            .na-history__title
                                span Hadoop и Spark
                            .na-history__text 
                                span Благодаря новым технологиям, машинное обучение стало доступно многим, в маркетинге наступила эра машинного интеллекта. Digital Contact выпустила первую платформу автоматизации маркетинга с машинным интеллектом.
                        div
                            .na-history__img.na-history__img--4
                                img(src="/images/about/time-4.png", alt="")
                            .na-history__date.na-history__date--4 
                                span Сегодня
                            .na-history__title
                                span машинный интеллект
                            .na-history__text 
                                span Применяют повсеместно, в том числе для автоматизации маркетинга. Но пока все рассказывают - мы делаем. Результаты наших клиентов: конверсия только с одного канала выросла в 2 раза, а общие продажи в 11 раз.



                






        script(src='js/foundation.js')

