doctype html
html
    head
        title PageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href='style/foundation.css?2')
        link(rel="stylesheet" href='style/style.css?19')
       
    body

        .na-main
            header(class=`n-header na-header`)

                svg.n-header__logo.adaptive-hidden
                    use(xlink:href="images/sprite.svg#logo-grey")
                svg.n-header__logo.desktop-hidden
                    use(xlink:href="images/sprite.svg#logo-grey")

                nav.n-header__nav.n-header__nav--grey2.adaptive-hidden
                    a(href="").n-header__nav-link Платформа
                    a(href="").n-header__nav-link Решения
                    a(href="").n-header__nav-link Почему мы
                    a(href="").n-header__nav-link Компания
                    a(href="").n-header__nav-link Ресурсы

                a(href="").icon-link.icon-link--grey.n-header__tel.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#phone")

                a(href="").icon-link.icon-link--grey.n-header__profile.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#human")

                a(href="").icon-link.icon-link--grey.n-header__ytube.desktop-hidden.n-header__icon
                    svg.n-slides-link__arrow
                        use(xlink:href="images/sprite.svg#youtube-circle")

                a(href="").n-header__btn.adaptive-hidden.n-form-show
                    svg
                        use(xlink:href="images/sprite.svg#youtube-circle")
                    span Демо

                .n-header__hamburger
                    a(href="").icon-link.icon-link--grey.n-header__icon
                        svg.n-slides-link__arrow
                            use(xlink:href="images/sprite.svg#hamburger")

        section.na-section-1
            .na-main
                .na-section-1__content
                    .na-section-1__nav 
                        span ГЛАВНАЯ
                        svg.na-section-1__nav-arrow
                            use(xlink:href="images/sprite.svg#arror-right")
                        span о компании
                    
                    .na-section-1__logo.na-about-logo  
                        .na-about-logo__bg
                        .na-about-logo__text
                            span О компании

                






        script(src='js/foundation.js')

