.n-form {

    &__columns {
        display: flex;
        justify-content: space-between;

        & > div {
            width: calc(50% - 18px);
        }

        margin-bottom: 28px;
    }

    &__input {
        width: 100%;
        height: 44px;
        border: 0px;
        border-bottom: 1px solid #616064;
        background-color: rgba(0,0,0,0);

        margin-bottom: 34px;

        color: #d1d6d8;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 2px;

        @include placeholder {
            color: #d1d6d8;
            font-size: 16px;
            font-weight: 100;
            letter-spacing: 2px;
        }
    }
}
