.n-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;

    &__logo {
        width: 40px;
        height: 40px;

        margin-right: 100px;//5.99161174%;
    }

    &__hamburger {
        // margin-left: 65px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $n-red;
        width: 7.8125em; //125px
        height: 3.125em; //50px
        border-radius: 25px;
        box-shadow: 0 0 30px rgba(#101216, .2);

        text-decoration: none;

        span {
            color: white;
            font: {
                size: 1em; //16px
                weight: 500;
            }
            text: {
                transform: uppercase;
                decoration: none;
            }
            letter-spacing: 2px;
        }


        margin-right: 3.8945476%;//65px;

        svg {
            width: 0.9375em; //15px
            height: 0.9375em; //15px
            fill: white;
            margin-right: 0.6875em; //11px
        }
    }

    &__tel, &__profile {
        margin-right: 13px;
    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-link {
            color: white;
            font: {
                size: 1.25em;
                weight: 400;
            }
            text: {
                decoration: none;
            }

            margin-right: 2.39664469%;//40px;
        }

        &--grey {
            a {
                color: #b7bfc4;
            }
        }
        &--grey2 {
            a {
                color: #8a9196;
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .n-header {
        height: 70px;
        background-color: white;
        border-top: 1px solid #1e1f20;
        margin-bottom: 0px;

        &__logo {
            margin-left: 25px;
            margin-right: 0;
            width: 35px;
            height: 35px;
        }

        &__tel, &__profile {
            margin-right: 0;
        }

        &__icon {
            border: none;
            svg {
                fill: #c6ced4;
                width: 30px;
            }
        }
        &__hamburger {
            height: 100%;
            a {
                background-color: #e9512b;
                width: 73px;
                height: 100%;
                border-radius: 0;

                svg {
                    fill: white;
                    height: 27px;
                    width: 27px;
                }
            }

        }
    }
}
