.section {
    &--1{
        // background: {
        //     color: #e9512b;
        // }
        // position: relative;
    }
    &--2 {
        background: {
            image: url(../images/s2bg.jpg);
            size: auto 100%;
            position: 200% center;
            repeat: no-repeat;
            color: #121718;
        }

    }
    &--3 {
        background: {
            image: url(../images/s3bg.jpg);
            size: auto 100%;
            position: right center;
            repeat: no-repeat;
            color: #bebfc4;
        }
    }
    &--4 {
        background: {
            image: url(../images/s4bg.jpg);
            size: cover;
            position: right bottom;
            repeat: no-repeat;
            color: #232328;
        }
    }
    &--5 {
        background: {
            image: url(../images/s5bg.jpg);
            size: auto 100%;
            position: right bottom;
            repeat: no-repeat;
            color: #fff;
        }
    }
    &--6 {
        background: {
            color: #f7fcfe;
        }
    }

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
        //background-size: cover;
        //background-attachment: fixed;
    }
}

@media screen and (max-width: 1279px) {
    .section {
        &--2,
        &--3,
        &--4,
        &--5 {
            background: {
                image: none;
            }
        }
    }
}
