.na-history {
    display: flex;

    & > div {
        width: 25%;
        padding-right: 5%;
    }

    &__img {
        height: 30em;
        display: flex;
        margin-bottom: 5.625em;

        &--1 {
            align-items: flex-end;
            img {
                width: 5.0625em;
            }
            padding-left: 2.6875em;
        }
        &--2 {
            align-items: flex-end;
            padding-bottom: 1em;
            img {
                width: 10em;
            }
        }
        &--3 {
            align-items: flex-end;
            padding-bottom: 2em;
            img {
                width: 16em;
            }
        }
        &--4 {
            align-items: center;
            img {
                width: 20em;
            }
        }
    }

    &__date {
        margin-bottom: 3.25em;
        span {
            line-height: 1em;
            font: {
                size: 3.5em;
                weight: 700;
            }
        }

        &--1 {
            color: #3e3e3e
        }
        &--2 {
            color: #a9a9a9;
        }
        &--3 {
            color: #ffffff;
        }
        &--4 {
            color: #ffffff;
        }
    }

    &__title {
        margin-bottom: 2.3125em;
        span {
            line-height: 1em;
            font: {
                size: 0.875em;
                weight: 600;
            }
        }
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__text {
        line-height: 1.375em;
        span {
            color: #bfbfbf;
            font: {
                size: 0.875em;
                weight: 400;
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .na-history {
        flex-direction: column;

        & > div {
            width: 100%;
            padding-right: 0;
            margin-top: 1.8125em;
        }

        &__img {
            height: auto;
            justify-content: center;

            margin-bottom: 1.8125em;

            &--1 {
                img {
                    width: 5.0625em;
                }
                padding-left: 0;
            }
            &--2 {
                padding-bottom: 0;
                img {
                    width: 10em;
                }
            }
            &--3 {
                padding-bottom: 0;
                img {
                    width: 16em;
                }
            }
            &--4 {
                img {
                    width: 20em;
                }
            }
        }

        &__date {
            margin-bottom: 1.75em;
            span {
                font: {
                    weight: 900;
                }
            }
        }
        &__title {
            margin-bottom: 1.5625em;
        }
    }
}