.na-section-socials {
    background-color: #23262b;
    &__content {
        padding: 3.125em 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-link {
            width: 5.3125em;
            height: 5.3125em;
            &:not(:last-child) {
                margin-right: 2em;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        svg {
            fill: #5e6368;
        }
    }
}