.na-section-3 {
    background-color: #292929;
    color: white;

    &__content {
        padding: 8.125em 0 8.25em;
    }

    &__red-line {
        width: 5.875em;
        height: 0.25em;
        background-color: #ef522b;
        margin: 0 auto 3.0625em;
    }

    &__title {
        line-height: 3em;
        span {
            font: {
                size: 2.625em;
                weight: 500;
            }
        }
        text-align: center;
    }
}

@media screen and (max-width: 1279px) {
    .na-section-3 {
        &__content {
            padding: 2.25em 0 2.875em;
        }

        .na-main {
            padding: 0 1.5em;
        }

        &__red-line {
            margin-bottom: 1.5em;
        }

        &__title {
            line-height: 2em;
            span {
                font: {
                    size: 2em;
                    weight: 500;
                }
            }
            text-align: center;
        }
    }
}