.na-section-1 {

    background: {
        image: url('/images/about/na-about-bg1.png');
        size: cover;
        position: center top;
    }

    &__content {
        padding: 7.75em 0 10.75em;
    }
    
    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: white;
        font: {
            size: 0.75em;
            weight: 500;
        }
        text-transform: uppercase;
    }

    &__nav-arrow {
        width: 12px;
        height: 8px;
        fill: white;
        margin: 0 1em;
    }

    &__logo {
        margin-top: 2.125em; //34px;
    }

}