.n-s2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        .n-inner-text {
            color: white;
            font: {
                size: 6.25em;
                weight: 600;
            }
            span {
                color: $n-red;
            }
        }
    }

    &__subtitle {
        .n-inner-text {
            color: white;
            font: {
                size: 2.123em;
                weight: 500;
            }
            line-height: 1.4em;
        }


        margin-top: 3.125em;
    }

    &__text {
        color: white;
        margin-top: 3.125em;
    }
}

@media screen and (max-width: 1279px) {
    .n-s2 {
        height: auto;

        &__content {
            padding-top: 0px;
        }

        &__title .n-inner-text {
            font-size: 56px;
        }
        &__subtitle {
            margin-top: 30px;
            .n-inner-text {
                font-size: 22px;
            }
        }
        &__text {
            margin-top: 30px;
        }
    }
}

@media screen and (max-height: 700px) {
    .n-s2 {
        &__title .n-inner-text {
            font-size: 4em;
        }
    }
}

@media screen and (max-height: 600px) {
    .n-s2 {
        &__title .n-inner-text {
            font-size: 2em;
        }
    }
}
